bool.art
bool.sum
boolBool.art
boolTactics.art
empty.art
example1.art
example1.sum
justBool.art
justTactics.art
localBoolTactics.art
mlton-result
mosml-result
polyml-result
tactics.art
tactics.sum
tacticsTactics.art
