bool-def-true.art
bool-def-true.sum
bool-int-true.art
bool-int-true.sum
bool-true-aux.art
bool-true-aux.sum
empty.art
empty.sum
example1.art
example1.sum
example2.art
example2.sum
example3.art
example3.sum
example4.art
example4.sum
