bool-true-aux.art
bool-true-aux.sum
bool-true-def.art
bool-true-def.sum
bool-true-thm.art
bool-true-thm.sum
empty.art
empty.sum
example1.art
example1.sum
example2.art
example2.sum
example3.art
example3.sum
