/bool-and-def.art
/bool-and-thm.art
/bool-and-thm-new.art
/bool-forall-def.art
/bool-forall-thm.art
/bool-implies-def.art
/bool-implies-thm.art
/bool-implies-thm-new.art
/bool-true-def.art
/bool-true-thm.art
/empty.art
/example1.art
/example2.art
/example3.art
/example4.art
/example5.art
/example6.art
/example7.art
/example8.art
/example9.art
/example10.art
